{% macro text(name, value, placeholder) %}
<input name="{{ name }}" value="{{ value }}" placeholder="{{ placeholder }}" class="appearance-none block w-full bg-nosferatu-900 shadow-inner text-white border border-nosferatu-600 h-10 px-4 leading-tight focus:outline-none focus:border-buffy-400 light:focus:border-buffy-600">
{% endmacro %}

{% macro textarea(name, slot, placeholder) %}
<textarea name="{{ name }}" placeholder="{{ placeholder }}" class="appearance-none block w-full bg-nosferatu-900 shadow-inner text-white border border-nosferatu-600 py-3 px-4 leading-tight focus:outline-none focus:border-buffy-400 light:focus:border-buffy-600">{{ slot }}</textarea>
{% endmacro %}

{% macro submit_button(slot) %}
<button type="submit" class="inline-flex items-center font-semibold uppercase tracking-wide bg-gradient-to-r from-dracula-500 to-indigo-500 light:bg-blue-600 text-white text-xs hover:bg-blue-500 light:hover:bg-blue-700 px-4 h-10 relative before:block before:absolute before:inset-0 before:top-[3px] before:left-[3px] before:w-full before:h-full before:border before:border-dracula-500 before:z-[-1]">{{ slot }}</button>
{% endmacro %}

{% macro label(slot) %}
<label class="block uppercase tracking-wide text-nosferatu-200 text-xs font-bold mb-2">{{ slot }}</label>
{% endmacro %}

{% macro error(slot) %}
<p class="mt-3 text-red-500 text-xs italic">{{ slot }}</p>
{% endmacro %}
