{% macro input(value, cache) %}
<div class="group mt-8 text-vanHelsing light:text-dracula-400-600 h-12 flex items-center -mx-5 md:-mx-10 px-5 md:px-10"
	data-controller="clipboard">
	{% call prompt() %}

	<input autocomplete="off" class="bg-transparent w-full px-2 focus:outline-none" {% if cache %}
		data-output-target="cache" {%- endif %} data-terminal-target="history" data-clipboard-target="copyable" readonly
		name="input" type="text" value="{{ value }}">

	<a class="hidden md:inline-block cursor-pointer uppercase tracking-wide bg-nosferatu-900 border border-dracula-400 text-dracula-300 font-semibold text-xs px-3 py-1 mr-2 hover:text-white light:border-nosferatu-200 light:text-nosferatu-500 light:hover:text-nosferatu-700 relative before:block before:absolute before:inset-0 before:top-[3px] before:left-[3px] before:w-full before:h-full before:border before:border-dracula-400 before:z-[-1]" href="javascript:void(0)" data-action="click->clipboard#copy">Copy</a>

	{% match app.current_route() %}
		{% when Some with (route) %}
		<a class="hidden md:inline-block cursor-pointer uppercase tracking-wide bg-nosferatu-900 border border-dracula-400 text-dracula-300 font-semibold text-xs px-3 py-1 mr-2 hover:text-white light:border-nosferatu-200 light:text-nosferatu-500 light:hover:text-nosferatu-700 relative before:block before:absolute before:inset-0 before:top-[3px] before:left-[3px] before:w-full before:h-full before:border before:border-dracula-400 before:z-[-1]" href="{{ route }}">Link</a>

		<a class="hidden md:inline-block cursor-pointer uppercase tracking-wide bg-nosferatu-900 border border-dracula-400 text-dracula-300 font-semibold text-xs px-3 py-1 mr-2 hover:text-white light:border-nosferatu-200 light:text-nosferatu-500 light:hover:text-nosferatu-700 relative before:block before:absolute before:inset-0 before:top-[3px] before:left-[3px] before:w-full before:h-full before:border before:border-dracula-400 before:z-[-1]" href="{{ route }}" hx-target="#input-form" hx-swap="outerHTML show:top" hx-select=".response" hx-push-url="true">Execute</a>
		{% when None %}
	{% endmatch %}
</div>
{% endmacro %}

{% macro input_form(csrf) %}
<form hx-post="{{ app.route(RouteName::Execute) }}" hx-target="this" hx-swap="outerHTML show:top" hx-select=".response"
	hx-push-url="true" data-action="turbo:submit-end->terminal#scrollToLastOutput" id="input-form" action="{{ app.route(RouteName::Execute) }}" class="mt-8 h-12 flex items-center -mx-5 md:-mx-10 px-5 md:px-10" method="POST" defaultbutton="execute">
	{% call csrf(csrf) %}

	{% call prompt() %}

	<input data-controller="autofocus" data-action="keydown@document->terminal#listenToKeys" autocomplete="off"
		class="bg-transparent w-full px-2 focus:outline-none placeholder-nosferatu-700 focus:placeholder-nosferatu-600"
		data-terminal-target="inputField" name="input" type="text" placeholder="Type `help` for more information">

	<a class="hidden md:inline-block cursor-pointer uppercase tracking-wide bg-nosferatu-900 border border-dracula-400 text-dracula-300 font-semibold text-xs px-3 py-1 mr-2 hover:text-white light:border-nosferatu-200 light:text-nosferatu-500 light:hover:text-nosferatu-700 relative before:block before:absolute before:inset-0 before:top-[3px] before:left-[3px] before:w-full before:h-full before:border before:border-dracula-400 before:z-[-1]"
		data-action="click->terminal#focus" href="javascript:void(0)" title="Press `/` to focus">/</a>

	<button
		class="hidden md:inline-block uppercase tracking-wide bg-dracula-400 border border-dracula-400 text-nosferatu-900 font-semibold font-semibold text-xs px-3 py-1 hover:bg-dracula-500 hover:border-dracula-500 light:bg-nosferatu-200 light:text-nosferatu-600 light:border-nosferatu-200 light:hover:bg-nosferatu-300 light:hover:border-nosferatu-300 relative before:block before:absolute before:inset-0 before:top-[3px] before:left-[3px] before:w-full before:h-full before:border before:border-dracula-400 before:z-[-1]"
		id="execute" type="submit">Execute</button>
</form>
{% endmacro %}

{% macro prompt() %}
<div class="flex items-center space-x-2">
	{% match app.user %}
	{% when Some with (user) %}
	<div class="hidden md:block text-vonCount">{{ user.email }}</div>
	<div class="font-bold text-blade-300 light:text-blade-600">#</div>
	{% when None %}
	<div class="hidden md:block text-vonCount">guest@johnfreeman.dev</div>
	<div class="font-bold text-blade-300 light:text-blade-600">$</div>
	{% endmatch %}
</div>
{% endmacro %}

{% macro csrf(value) %}
<input type="hidden" name="_csrf" value="{{ value }}" />
{% endmacro %}

{% macro me() %}
<pre id="me" class="leading-none text-nosferatu-900 select-none fixed bottom-0 right-0 -z-10">
	....................................................................................................
	....................................................................................................
	....................................................................................................
	....................................................................................................
	....................................................................................................
	....................................................................................................
	....................................................................................................
	....................................................................................................
	....................................................................................................
	........................................<span
		class="text-nosferatu-800">*+======#*==----</span>............................................
	.....................................<span
		class="text-nosferatu-800">-##=%*##*####+++++++=-=</span>........................................
	....................................<span
		class="text-nosferatu-800">+#=#=-##%%##*#*++::::::-+</span>.......................................
	..................................<span
		class="text-nosferatu-800">+##=#####***%*%%@%#**###:::#</span>......................................
	................................<span
		class="text-nosferatu-800">-*##+==-*##****++##%*%#%+*##**-</span>.....................................
	...............................<span
		class="text-nosferatu-800">+*-=+#%%**###+-::+=%%%+++++*++*#:</span>....................................
	............................<span
		class="text-nosferatu-800">+#@@@@@@@@@@@@@@@@@@@@%%*:=+*@%+:**#*:</span>..................................
	.........................<span
		class="text-nosferatu-800">*@@@@@@@@@@@@@@@%%%%%%%%@@@@@@@##:*=%#*#*:</span>.................................
	.....................<span
		class="text-nosferatu-800">-%@@@@@@@@@@@@@%%%%######%%%%%%%%%%@@@@+=###%-</span>.................................
	....................<span
		class="text-nosferatu-800">%@@@@@@@@@@@@%%%%%%%#############%##%%%%@@#:##+</span>.................................
	..................<span
		class="text-nosferatu-800">:@@@@@@@@@@@@@@%%###*******+++*****###**##%%@@%##</span>.................................
	..................<span
		class="text-nosferatu-800">+@@@@@@@@@@@@%%%%%#*+++=++===++***==----::::=%@%#</span>.................................
	...................<span
		class="text-nosferatu-800">@@@@@@@@@@@@%%%%###***++++==#@@@@@@@@%%%%%::-%@#</span>.................................
	......................<span
		class="text-nosferatu-800">@@@@@@@@@#+***++@@@@@@@@@**####+=*==@%%==--#@</span>.................................
	...........................<span
		class="text-nosferatu-800">@@:%#**#%@@@%@@@%@@++-**###++++=%**##=*@</span>.................................
	...........................<span
		class="text-nosferatu-800">+%@#**#*****#%@+--@+-=++====--:-%::::=::</span>.................................
	............................<span
		class="text-nosferatu-800">@*=+++***+++@+=::#%--:-------::%:::::::</span>.................................
	............................<span
		class="text-nosferatu-800">*.=+++=====@+=-:::=@::::::::::@.:::::+-:</span>................................
	.............................<span
		class="text-nosferatu-800">%====---@@+=-:::::-*%@#+=+#@*..:.::.-=::</span>...............................
	...............................<span
		class="text-nosferatu-800">=++****====-::-:-:=++=--::::::..:.:::</span>................................
	...............................<span
		class="text-nosferatu-800">+==++++*##**+++++-=--=---:::::::::::</span>.................................
	...............................<span
		class="text-nosferatu-800">+==***********++=+===++=-:-::::::::</span>..................................
	...............................<span
		class="text-nosferatu-800">===****+++=*++++=+-+=++=--::::::::</span>...................................
	................................<span
		class="text-nosferatu-800">===+**%@=-=:=:::==#%+**=-:::::::::</span>..................................
	................................<span
		class="text-nosferatu-800">:=-++==++==-=--:::::-==-:-::::::::</span>..................................
	.................................<span
		class="text-nosferatu-800">:+++==-=-----::::::--=--:::--::::</span>..................................
	...................................<span
		class="text-nosferatu-800">=+++=-===-=:-::::===-:----:::::</span>..................................
	....................................<span
		class="text-nosferatu-800">=**=+-++-=:-:::====-----::::::</span>..................................
	....................................<span
		class="text-nosferatu-800">:=#*=+==-=---:=++++==--::::::::</span>.................................
	.....................................<span
		class="text-nosferatu-800">-*#+=+======++++*+=--::::::::::</span>................................
	......................................<span
		class="text-nosferatu-800">*%##*#***+*##*#*+----::::::::-%%%=</span>............................
	......................................<span
		class="text-nosferatu-800">=#%##%#%%%%#+*=------:::::::%%%%%#*+</span>..........................
	..................................<span
		class="text-nosferatu-800">%%@@@@@====++====-------:-:::-@%@%%##@%%@*+</span>.......................
	...............................<span
		class="text-nosferatu-800">#@@@@@@@@@=====----=----:---::@@@@@@@%@%%%%%%%%#**</span>...................
	..............................<span
		class="text-nosferatu-800">@@@@@@@@@@@+=====-----------*@@@@@@@@@@%%%@%%##@%@#**</span>.................
	.............................<span
		class="text-nosferatu-800">@@@@@@@@@%@@@====---------@@@@@@@@@@@@%@@%@@%%@%%%*%@##++</span>..............
	.............................<span
		class="text-nosferatu-800">@@@@@@@@@@@@@@@@*=+*@@@@@@@@@@%@@@@%@@@@@%@@@%%%#%#*##*%###*+</span>..........
	............................<span
		class="text-nosferatu-800">@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@%@%@%@@%%%%%%%#%###*##*##***</span>........
	............................<span
		class="text-nosferatu-800">@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@%%@%@@@%%%%%%@%%%%#%%%##*%%#%%</span>.......
	...........................<span
		class="text-nosferatu-800">@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@%@%@%@@%%@%%%%%@%#%%#%%%*%%</span>......
	...........................<span
		class="text-nosferatu-800">@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@%@@@%%@%@@@@@@@@@%@%%@%%@%%%%%%#%%%%%</span>.....
	...........................<span
		class="text-nosferatu-800">@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@%%%%@@%%%%%%%#%%%%%</span>....
	...........................<span
		class="text-nosferatu-800">@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%%%@@%%@@%@%%%%</span>...
	..........................<span
		class="text-nosferatu-800">@@@@@@@@@@@@@@@@%@@@@@@@@@@@@%@@@@@@@@@@@@@@@@%@@@@@@@%%@@@%%%@%%%@@@@%%</span>..
	.........................<span
		class="text-nosferatu-800">@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@%@%%%@@%%%%%@</span>.
	.........................<span
		class="text-nosferatu-800">@@@@%*=#-@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@@@@@@%@%@%@@@%@</span>
</pre>
{% endmacro %}
