{% extends "_layout.html" %}

{%- import "_macros.html" as scope -%}

{% block output %}
    {% call scope::input("about", false) %}

    <p class="{# mt-8 #} w-full max-w-3xl bg-nosferatu/80">It all started {{ john.coding_passion() }} with Microsoft Frontpage and a boy<span class="text-marcelin">'</span>s dream. Search engines weren<span class="text-marcelin">'</span>t what they are today and I wanted to make something with links to all my favorite Quake 2 skins to share with my buddies<span class="text-marcelin">.</span> Classic story! Anyway<span class="text-marcelin">,</span> I had so much fun doing it that it remained a slow yet persistant hobby from then on<span class="text-marcelin">.</span> I soaked up anything I could get my hands on about my new craft from articles<span class="text-marcelin">,</span> books<span class="text-marcelin">,</span> then later youtube<span class="text-marcelin">,</span> podcasts<span class="text-marcelin">,</span> etc.<span class="text-marcelin">.</span></p>

    <p class="mt-8 w-full max-w-3xl bg-nosferatu/80">Fast forward to today<span class="text-marcelin">,</span> I lead a team of engineers at a <em>small</em> remote software company in the healthcare space<span class="text-marcelin">.</span> The really small kind of company where everybody where multiple hats<span class="text-marcelin">.</span> Here I've played a major role in envisioning<span class="text-marcelin">,</span> planning<span class="text-marcelin">,</span> designing<span class="text-marcelin">,</span> and the execution of about half of our user-facing assets<span class="text-marcelin">.</span></p>

    <p class="mt-8 w-full max-w-3xl bg-nosferatu/80">In my off-hours<span class="text-marcelin">,</span> I still enjoy solving problems<span class="text-marcelin">.</span> Sometimes the solution is with software<span class="text-marcelin">,</span> other times with a table saw or a welding machine<span class="text-marcelin">.</span> I just enjoy solving problems<span class="text-marcelin">.</span> And occasionally I write about my software building experience at <a href="https://www.eloquentarchitecture.com" target="_blank" class="text-dracula underline">eloquentarchitecture.com</a><span class="text-marcelin">.</span></p>
    
    {% call scope::input_form(app.csrf) %}
{% endblock %}
