{% extends "_layout.html" %}

{%- import "_macros.html" as scope -%}

{% block output %}
    {% call scope::input("intro", false) %}

    {% match app.user %}
        {% when Some with (user) %}
            <h1 class="text-xl max-w-md bg-white dark:bg-nosferatu">👋 <strong>Welcome back</strong><span class="text-marcelin">,</span> John<span class="text-marcelin">!</span></h1>

            <p class="mt-3 text-lg max-w-md bg-white dark:bg-nosferatu">Made anything awesome lately<span class="text-marcelin">?</span></p>
        {% when None %}
            <h1 class="text-xl max-w-md bg-white dark:bg-nosferatu">👋 What<span class="text-marcelin">'</span>s up<span class="text-marcelin">!</span> <span class="inline-block bg-buffy-400/10 text-buffy-400 light:text-buffy-600 p-1 leading-none skew-y-1">I'm John</span><span class="text-marcelin">.</span></h1>

            <p class="mt-3 text-lg max-w-md bg-white dark:bg-nosferatu">I build things<span class="text-marcelin">.</span> And I write about system design at <a href="https://www.eloquentarchitecture.com" target="_blank" class="text-dracula light:text-dracula-700 underline">eloquentarchitecture.com</a><span class="text-marcelin">.</span></p>
    {% endmatch %}

    {% call scope::input_form(app.csrf) %}
{% endblock %}
